$primary-color: #3F88C5;
$muted-color: lightgray;
$yellow: #F3FEA8;
$green: #C7F6D4;
$blue: #E0EFFA;
$purple: #F8E9FC;
$red: #FDE2E2;

$yellow-shadow: 1px 1px 1px hsla(68, 36%, 83%, 0.7);
$green-shadow: 1px 1px 1px hsla(137, 36%, 83%, 0.7);
$blue-shadow: 1px 1px 1px hsla(205, 36%, 83%, 0.7);
$purple-shadow: 1px 1px 1px hsla(287, 36%, 83%, 0.7);
$red-shadow: 1px 1px 1px hsla(0, 36%, 83%, 0.7);

$yellow-hover: 0px 3px 4px 1px hsla(68, 36%, 83%, 0.7);
$green-hover: 0px 3px 4px 1px hsla(137, 36%, 83%, 0.7);
$blue-hover: 0px 3px 4px 1px hsla(205, 36%, 83%, 0.7);
$purple-hover: 0px 3px 4px 1px hsla(287, 36%, 83%, 0.7);
$red-hover: 0px 3px 4px 1px hsla(0, 36%, 83%, 0.7);
