@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container--app {
  max-width: 1024px;
  margin: 0 auto;
  background: url(../images/paper.svg);
  background-size: contain;
  background-repeat: repeat-y;
  background-position: top;

}

.btn {
  display: block;
  margin: 35px auto 10px;
  width: 127px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: white;
  background-color: #3F88C5;
  border: none;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    box-shadow: 0 3px 4px 1px #ccc;
  }

  &:active {
    background-color: #2b6391;
  }

}

.main__h2 {
  padding: 0;
  font-weight: 800;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.note {
  font-family: 'Walter Turncoat', cursive;
  font-size: 16px;
  text-align: justify;
  text-indent: 15px;
  padding: 17px;
}

.main__h2--what {
  margin: 20px 0 0 30px;
}

.main__h2--why {
  text-align: right;
  margin: -80px 30px 0 0;
}

.main__h2--how {
  margin: 30px 0 0 30px;
}

.container--note {
  max-width: 400px;
  margin: 0 auto;
}

.note--what {
  width: 208px;
  height: 195px;
  margin: 10px 0 0px 8px;
  background: #F3FEA8;
  transform: rotate(4.92deg);
}

.note--why {
  width: 222px;
  height: 187px;
  margin: 30px 20px 0 auto;
  background: #C7F6D4;
  transform: rotate(-14.38deg);
}

.note--how1 {
  width: 168px;
  height: 157px;
  margin: 5px 0 0 12px;
  background: #E0EFFA;
}

.note--how2 {
  width: 180px;
  height: 170px;
  margin: -9px 19px 0 auto;
  background: #F8E9FC;
  transform: rotate(14.46deg);
}

.note--how3 {
  width: 192px;
  height: 184px;
  margin: -27px 0 0 12px;
  background: #FDE2E2;
  transform: rotate(-3.16deg);
}

.note--how4 {
  width: 175px;
  height: 185px;
  background: #F3FEA8;
  transform: rotate(21.38deg);
  margin: -9px 29px 0 auto;
}

.note--how5 {
  width: 153px;
  height: 144px;
  background: #C7F6D4;
  transform: rotate(-0.03deg);
  margin: -27px 0 0 12px;
}

.note--how6 {
  width: 225px;
  height: 215px;
  background: #E0EFFA;
  transform: rotate(-4.58deg);
  margin: -16px 14px 0 auto;
}

.note--donate {
  width: 224px;
  height: 234px;
  background: #F8E9FC;
  transform: rotate(7deg);
  margin: -5px 0 0 15px;
  display: grid;
}

.btn-donate {
  width: 100px;
  height: 55px;
  margin-top: 10px;
  background-image: url(../images/paypal-donate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  justify-self: center;
  border: none;
}

.our-pic {
  width: 277px;
  margin: 0px 23px 0 auto;
  display: block;
  transform: rotate(-12.66deg);
}

.copyright {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 50px 0 10px;
}

.container--icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 15px;
  max-width: 400px;

  .icon {
    width: 32px;
    justify-self: center;
  }
}

/*=== media queries ===*/

/* Greater than 799 */
@media screen and (min-width: 1000px) {
  .container--app {
    background-size: cover;
  }
}
/* Greater than 799 */
@media screen and (min-width: 800px) {
  .container--note {
    display: grid;
    max-width: 800px;
    margin: 60px auto 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(4, 1fr);
  }

  .main__h2--what {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  1 / 2;
  }

  .main__h2--why {
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row:  1 / 2;
  }

  .main__h2--how {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  1 / 2;
  }

  .note--what {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  2 / 3;
  }

  .note--why {
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row:  2 / 3;
  }

  .note--how1 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  2 / 3;
  }
  .note--how2 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  3 / 4;
    transform: rotate(-14.46deg) translate(27px, -79px);
  }

  .note--how3 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  4 / 5;
    transform: rotate(-3.16deg) translate(0, -163px);
  }
  .note--how4 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
    transform: rotate(14.38deg) translate(-41px, -203px);
  }

  .note--how5 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
    transform: rotate(-0.03deg) translate(0, -31px);
  }
  .note--how6 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  6 / 7;
    transform: rotate(-4.58deg) translate(0, -129px);
  }

  .note--donate {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  4 / 5;
    transform: rotate(7deg) translate(100px, -154px);
  }
  .our-pic {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  5 / 6;
    transform: rotate(-12.66deg) scale(1.5) translate(97px, -33px);
  }
}