@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

@import 'variables';

// global
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


// nav
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: $primary-color;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.nav-container {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}

.logo {
  height: 100%;
  padding: 12px 5px;
  a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    vertical-align: middle;
  }
}

.nav-links {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-around;
  li {
    padding: 12px;
    a {
      color: white;
      text-decoration: none;
      vertical-align: middle;
    }
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  margin-top: 48px;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  will-change: transform;
}

.h1 {
  margin: 0;
  padding: 10px 0 5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.btn {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  transition: all .2s;
  position: relative;
  overflow: hidden;
  display: block;
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out, transform 0.2s ease-out;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .7);
    transform: translate(-50%, -50%);
  }
  &:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
  }
}

.btn--primary {
  font-family: 'Raleway', sans-serif;
  background: $primary-color;
  display: block;
  justify-content: center;
  font-weight: 800;
  width: 120px;
  color: white;
  margin: 0 auto;
  height: 47px;
  font-size: 20px;
  border: none;

  &:active {
    box-shadow: $primary-hover;
  }
}

.spinner {
  text-align: center;
}

.form-container {

  form {
    margin: 5px auto 0;
    width: 320px;
    grid-auto-rows: 28px;
    grid-gap: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;

    .group {
      position: relative;
      margin: 45px 0;
    }

    input {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      background: $yellow;
      color: $primary-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 320px;
      border: none;
      border-radius: 0;

      &:focus{
        outline: none;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 14px;
        color: $primary-color;
      }
    }

    label {
      color: $primary-color;
      font-size: 20px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;
    }
  }
}

.editbox {
  width: 90vw;
  max-width: 900px;
  margin: 15px auto 0;
  padding: 15px;
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 18px;
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  height: 60vh;
  overflow-y: scroll;
  transition: background-color 0.5s;

  ul,
  ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  &::-webkit-scrollbar { width: 0 !important }
}

.yellow--note {
  background-color: $yellow;
  box-shadow: $yellow-shadow;
}

.green--note {
  background-color: $green;
  box-shadow: $green-shadow;
}

.blue--note {
  background-color: $blue;
  box-shadow: $blue-shadow;
}

.purple--note {
  background-color: $purple;
  box-shadow: $purple-shadow;
}

.red--note {
  background-color: $red;
  box-shadow: $red-shadow;
}


// home styles
.container-home {
  background-size: contain;
}

.main__h2 {
  padding: 0;
  font-weight: 800;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.note {
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 16px;
  text-align: justify;
  text-indent: 15px;
  padding: 17px;
}

.main__h2--what {
  margin: 20px 0 0 30px;
}

.main__h2--why {
  text-align: right;
  margin: -80px 30px 0 0;
}

.main__h2--how {
  margin: 30px 0 0 30px;
}

.container--note {
  max-width: 400px;
  margin: 0 auto;
}

.note--what {
  width: 208px;
  height: 195px;
  margin: 10px 0 0px 8px;
  background: $yellow;
  box-shadow: $yellow-shadow;
  transform: rotate(4.92deg);
}

.note--why {
  width: 222px;
  height: 187px;
  margin: 30px 20px 0 auto;
  background: $green;
  box-shadow: $green-shadow;
  transform: rotate(-14.38deg);
}

.note--how1 {
  width: 168px;
  height: 157px;
  margin: 5px 0 0 12px;
  background: $blue;
  box-shadow: $blue-shadow;
}

.note--how2 {
  width: 180px;
  height: 170px;
  margin: -9px 19px 0 auto;
  background: $purple;
  box-shadow: $purple-shadow;
  transform: rotate(14.46deg);
}

.note--how3 {
  width: 192px;
  height: 184px;
  margin: -27px 0 0 12px;
  background: $red;
  box-shadow: $red-shadow;
  transform: rotate(-3.16deg);
}

.note--how4 {
  width: 175px;
  height: 185px;
  background: $yellow;
  box-shadow: $yellow-shadow;
  transform: rotate(21.38deg);
  margin: -9px 29px 0 auto;
}

.note--how5 {
  width: 153px;
  height: 144px;
  background: $green;
  box-shadow: $green-shadow;
  transform: rotate(-0.03deg);
  margin: -27px 0 0 12px;
}

.note--how6 {
  width: 225px;
  height: 215px;
  background: $blue;
  box-shadow: $blue-shadow;
  transform: rotate(-4.58deg);
  margin: -16px 14px 0 auto;
}

.note--donate {
  width: 224px;
  height: 234px;
  background: $purple;
  box-shadow: $purple-shadow;
  transform: rotate(7deg);
  margin: -5px 0 0 15px;
  display: grid;
}

.btn-donate {
  width: 100px;
  height: 55px;
  margin-top: 10px;
  background-image: url(../images/paypal-donate.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  justify-self: center;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;
}

.our-pic {
  width: 277px;
  margin: 0px 23px 0 auto;
  display: block;
  transform: rotate(-12.66deg);
}

.copyright {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 50px 0 10px;
}

.container--icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 400px;

  .icon {
    width: 32px;
    justify-self: center;
  }
}


// media queries
/* Less than 460 tall*/
@media screen and (max-height: 460px) {

  .container {
    background: white;
  }
}

/* Less than 540 tall*/
@media screen and (max-height: 540px) {

  .editbox {
    height: 30vh;
  }
}
// Less than 800px
@media screen and (max-width: 799px) {

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 100;

    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
      transition: transform 0.25s ease-in-out;
    }

    .open:nth-child(1) {
      transform: rotate(45deg) translate(4px, 6px);
    }

    .open:nth-child(2) {
      transform: scaleX(0);
    }

    .open:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -7px);
    }
  }

  .nav-links {
    clip-path: inset(0 0 0 100%);
    position: fixed;
    height: 100vh;
    width: 100%;
    background: $primary-color;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    transition: all 0.6s;
  }

  .nav-links.open {
    clip-path: inset(0 0 0 50%);
    z-index: 99;
  }
}

/* Greater than 799 */
@media screen and (min-width: 800px) {

  .container--note {
    display: grid;
    max-width: 800px;
    margin: 60px auto 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(4, 1fr);
  }

  .main__h2--what {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  1 / 2;
  }

  .main__h2--why {
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row:  1 / 2;
  }

  .main__h2--how {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  1 / 2;
  }

  .note--what {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  2 / 3;
  }

  .note--why {
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row:  2 / 3;
  }

  .note--how1 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  2 / 3;
  }
  .note--how2 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  3 / 4;
    transform: rotate(-14.46deg) translate(27px, -79px);
  }

  .note--how3 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  4 / 5;
    transform: rotate(-3.16deg) translate(0, -163px);
  }
  .note--how4 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
    transform: rotate(14.38deg) translate(-41px, -203px);
  }

  .note--how5 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  5 / 6;
    transform: rotate(-0.03deg) translate(0, -31px);
  }
  .note--how6 {
    margin: 0;
    justify-self: center;
    grid-column: 3 / 4;
    grid-row:  6 / 7;
    transform: rotate(-4.58deg) translate(0, -129px);
  }

  .note--donate {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  4 / 5;
    transform: rotate(7deg) translate(100px, -154px);
    &.donate-page {
      margin: 180px auto 0;
    }
  }
  .our-pic {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row:  5 / 6;
    transform: rotate(-12.66deg) scale(1.5) translate(97px, -33px);
    &.donate-page {
      margin: 0 auto;
    }
  }
}

@media(hover: hover) and (pointer: fine) {

  .btn--primary:hover {
    box-shadow: $primary-hover;
  }

  .btn-donate:hover {
    box-shadow: $purple-hover;
  }
}