@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

@import 'variables';

.form {
  text-align: center;
  .input-container {
    padding: 25px 0;
    display: inline-flex;
    align-items: center;
  }
}
.label {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
}
.text-input {
  background: $yellow;
  width: 179px;
  height: 25px;
  border: none;
}

.btn--create {
  display: block;
  margin: 0 auto;
  width: 127px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: white;
  background-color: $primary-color;
  border: none;
}


// media queries
@media(hover: hover) and (pointer: fine) {

  .btn--create:hover {
    box-shadow: $primary-hover;
  }
}