.container-edit {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1024px;
  margin: 46px auto 70px;
  will-change: transform;
  form {
    text-align: center;
    input[type=text] {
      width: 70%;
      transform: scaleX(0.5);
      border: none;
      border-bottom: 1px solid red;
      transition: transform 0.5s ease;
      &:focus{
        outline: none;
        transform: scaleX(1);
      }
    }
  }
  ul {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;


    li {
      border-bottom: 1px solid #3F88C5;
      margin: 0 0;
      padding: 11px 35px 0px 40px;
      line-height: 14px;
    }
    li:before {
      content: "";
      border-right: 1px solid red;
      position: absolute;
      height: 100%;
      top: 0;
      margin-left: -3px;
      z-index: -5;
    }
  }
}

.btn-add {
  position: sticky;
  top: 50px;
}

.btn-del {
  float: right;
  margin-top: -23px;
  background: none;
  border: none;
}

.edit {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: white;
  margin: 0 auto;
  width: 100%;
  padding: 5px 0;
}

.row {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  max-width: 450px;
  margin: 0 auto;
  padding: 0 5px;
}

.column {
  img {
    width: 100%;
  }
}

.edit-header {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
}

.btn-edit {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background: lightgray;
}

.selected {
  background: #C7F6D4;
}

.highlight {
  background: #f3fea8;
}