$width: 80%;
$unselected-color: #9e9e9e;
$selected-color: #3F88C5;

.container-edit {
  width: 100%;
  max-width: 1024px;
  margin: auto 0;
  will-change: transform;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  .container-edit__header {
    margin: 48px auto 0;
    h1 {
      font-size: 20px;
    }
  }
  form {
    label {
      font-family: 'Walter Turncoat', sans-serif;
      color:$unselected-color;
      font-size:18px;
      position:absolute;
      pointer-events:none;
      left: 18px;
      top: 148px;
      transition: 0.5s ease all;
    }
    input[type=text] {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      margin: 10px;
      width: $width;
      border: 1px solid $unselected-color;
      border-radius: 4px;
      &:focus{
        outline: none;
        border-color: $selected-color;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: 133px;
        left: 14px;
        background-color: white;
        font-size: 14px;
        color: $selected-color;
      }
    }
  }
}

.editbox{
  width: 90vw;
  max-width: 900px;
  margin: 10px auto 0;
  padding: 15px;
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 18px;
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  height: 74vh;
  overflow-y: scroll;
  transition: background-color 0.5s;

  ul, ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  &::-webkit-scrollbar { width: 0 !important }
}

.edit {
  height: 50px;
  margin: 0 auto;
  padding: 5px 0;
}

.row {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(7, 40px);
  justify-content: space-around;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 5px;
}

.column {
  img {
    width: 100%;
    vertical-align: middle;
  }
}

.edit-header {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
}

.btn-edit {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  transition: all .2s;
  position: relative;
  overflow: hidden;
  display: block;
  transition: box-shadow 0.2s ease-out, background-color 0.2s;
}

.success {
  background: #C7F6D4;
}

.selected {
  background: #F8E9FC;
}

.highlight {
  background: #f3fea8;
}

.alert {
  background: #FDE2E2;
}

.primary {
  background: #E0EFFA;
}

@media(hover: hover) and (pointer: fine) {
  .btn-edit:hover {
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
  }
}