@import 'variables';

.container-list {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  will-change: transform;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

.list-header {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;

  h1 {
    font-size: 20px;
  }
}

.list--error {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
}

.btn--error {
  display: block;
  margin: 0 auto;
  width: 127px;
  height: 47px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: white;
  background-color: $primary-color;
  border: none;
}

.btn--list {
  font-size: 20px;
  font-family: 'Walter Turncoat', sans-serif;
  height: 47px;
}

.btn-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn--edit{
  background: $blue;

  &:active {
    box-shadow: $blue-hover;
  }
}

.btn--share{
  background: $purple;

  &:active {
    box-shadow: $purple-hover;
  }
}

.btn--complete{
  background: $green;

  &:active {
    box-shadow: $green-hover;
  }
}

.btn--save{
  grid-column: 2/3;
  background: $green;

  &:active {
    box-shadow: $green-hover;
  }
}

.btn--delete{
  background: $red;

  &:active {
    box-shadow: $red-hover;
  }
}

.btn--loading{
  grid-column: 1/4;
  background: linear-gradient(90deg, $yellow, $green, $blue, $purple, $red, hsla(34, 72%, 93%, 1), $yellow);
  background-size: 1000%;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
		background-position: 0%;
  }
	50% {
    background-position: 50%;
	}
  100% {
    background-position: 100%;
  }
}


// media queries
@media(hover: hover) and (pointer: fine) {

  .btn--edit:hover {
    box-shadow: $blue-hover
  }

  .btn--share:hover {
    box-shadow: $purple-hover
  }

  .btn--complete:hover {
    box-shadow: $green-hover
  }

  .btn--delete:hover {
    box-shadow: $red-hover
  }

  .btn--error:hover {
    box-shadow: 0 3px 4px 1px hsla(207, 25%, 30%, 1);
  }
}