@import 'shared';

.container-list {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  will-change: transform;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

.list-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr, auto;
  grid-column-gap: 5px;
  padding: 48px 15px 5px;
  background-color: white;

  h1 {
    font-size: 20px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.btn--list {
  display: inline-flex;
  justify-content: center;
  font-family: 'Walter Turncoat', sans-serif;
  font-weight: 400;
  width: 100%;
  grid-row: 2 / 3;
  color: black;
  margin: 0 auto;
  height: 47px;
  font-size: 20px;
  border: none;
}

.btn--edit{
  background: $blue;

  &:active {
    box-shadow: $blue-hover;
  }
}

.btn--share{
  background: $purple;

  &:active {
    box-shadow: $purple-hover;
  }
}

.btn--delete{
  background: $red;

  &:active {
    box-shadow: $red-hover;
  }
}


// media queries
@media(hover: hover) and (pointer: fine) {

  .btn--edit:hover {
    box-shadow: $blue-hover
  }

  .btn--share:hover {
    box-shadow: $purple-hover
  }

  .btn--delete:hover {
    box-shadow: $red-hover
  }
}