@import 'variables';

.note--signup {
  margin: 40px auto 0;
  text-align: center;
  background: $green;
  box-shadow: $green-shadow;
  transform: rotate(10deg);
  width: 200px;
  height: 206px;
  font-family: 'Walter Turncoat', sans-serif;
  text-indent: 15px;
  padding: 17px;
}