@import 'variables';

.container-view-lists {
  width: 100%;
  max-width: 1024px;
  margin: 48px auto 0;
  will-change: transform;
  background: url(../images/paper.svg);
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

.h1 {
  font-size: 20px;
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 140px;
  grid-gap: 15px;
  font-size: 20px;
  font-family: 'Walter Turncoat', sans-serif;
  margin: 10px;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.list {
  max-width: 210px;
  margin: 0;
  padding: 10px;
  transition: box-shadow 0.2s ease-out;
}

.yellow--note:active {
  box-shadow: $yellow-hover;
  z-index: 5;
}

.green--note:active {
  box-shadow: $green-hover;
  z-index: 5;
}

.blue--note:active {
  box-shadow: $blue-hover;
  z-index: 5;
}

.purple--note:active {
  box-shadow: $purple-hover;
  z-index: 5;
}

.red--note:active {
  box-shadow: $red-hover;
  z-index: 5;
}


@media(hover: hover) and (pointer: fine) {

  .lists {
    .yellow--note:hover {
      box-shadow: $yellow-hover;
      z-index: 5;
    }

    .green--note:hover {
      box-shadow: $green-hover;
      z-index: 5;
    }

    .blue--note:hover {
      box-shadow: $blue-hover;
      z-index: 5;
    }

    .purple--note:hover {
      box-shadow: $purple-hover;
      z-index: 5;
    }

    .red--note:hover {
      box-shadow: $red-hover;
      z-index: 5;
    }
  }
}